.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .register-form-container {
    width: 350px;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .register-header {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-input-container {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .register-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 10px;
    color: #333;
  }
  
  .register-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .register-error-container {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
  
  .register-error {
    color: red;
    font-size: 0.9rem;
  }
  
  .register-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: #0069d9;
  }
  
  .register-login-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .register-login-link-text {
    font-size: 0.9rem;
    color: #333;
  }
  
  .register-login-link {
    margin-left: 10px;
    color: #007bff;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 0.3s ease;
  }
  
  .register-login-link:hover {
    color: #0069d9;
  }
  